.startBanner
  %h1 Want to Make Your Life Better?
  %br
  %h2 Here's How: 
.col-md-4
  .lifeBox
    %h1 Step 1:
    %h2 Take Data
.col-md-4
  .lifeBox
    %h1 Step 2:
    %h2 Try a New Habit
.col-md-4
  .lifeBox
    %h1 Step 3:
    %h2 Form Conclusion
